#all-tab:checked ~ .tabs__wrapper .tabs__label[for="all-tab"],
#elements-tab:checked ~ .tabs__wrapper .tabs__label[for="elements-tab"],
#containers-tab:checked ~ .tabs__wrapper .tabs__label[for="containers-tab"],
#templates-tab:checked ~ .tabs__wrapper .tabs__label[for="templates-tab"],
#html-tab:checked ~ .tabs__wrapper .tabs__label[for="html-tab"],
#css-tab:checked ~ .tabs__wrapper .tabs__label[for="css-tab"] {
    color: var(--accent);
    border-bottom-color: var(--text);
}
.tabs__content_all-tab,
.tabs__content_elements-tab,
.tabs__content_containers-tab,
.tabs__content_templates-tab,
.tabs__content_html-tab,
.tabs__content_css-tab {
    display: none;
}
#all-tab:checked ~ .tabs__content_all-tab,
#elements-tab:checked ~ .tabs__content_elements-tab,
#containers-tab:checked ~ .tabs__content_containers-tab,
#templates-tab:checked ~ .tabs__content_templates-tab,
#html-tab:checked ~ .tabs__content_html-tab,
#css-tab:checked ~ .tabs__content_css-tab {
    display: block;
}
.tabs__wrapper {
    border-bottom: 1px solid var(--grey-2);
}
.tabs__list {
    display: flex;
    gap: 40px;
}
.tabs__label {
    display: block;
    padding-bottom: 8px;
    border-bottom: 5px solid transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    color: var(--grey-3);
    cursor: pointer;
}
.tabs__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

@media screen and (max-width: 767px) {
    .tabs__wrapper {
        background-color: var(--light-white);
    }
}

