
/* Стилизация кнопки */
.button{
    min-width: 182px;
    border-radius: 8px;
    padding: 15px 62px 14px 63px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    transition: var(--hover-transition);
    cursor: pointer;
}

/*---PRIMARY---*/
.button_primary{
    background-color: var(--button-primary);
    color: var(--white);
}
.button_primary:hover:enabled{
    background-color: var(--button-primary-hover);
}

/*---SECONDARY---*/
.button_secondary{
    background-color: var(--button-secondary);
    color: var(--white);
}
.button_secondary:hover:enabled{
    background-color: var(--button-secondary-hover);
    cursor: pointer;
}
/*---ALTERNATE---*/
.button_alternate{
    background-color: var(--button-alternate);
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}
.button_alternate:hover:enabled{
    background-color: var(--button-alternate-hover);
    border: 1px solid var(--black);
}

.button:disabled{
    opacity: 0.5;
    pointer-events: none;
}

.button_alternate:disabled{
    opacity: 0.3;
}
