.radio {
    display: inline-flex;
    position: relative;
}

.radio__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.radio__state {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

.radio__control {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__icon {
    display: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--blue);
}

.radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input:checked ~ .radio__state .radio__control {
    border: 2px solid var(--blue);
}

.radio__input:checked ~ .radio__state .radio__icon {
    display: block;
}

.radio__input:disabled ~ .radio__state .radio__control {
    background-color: var(--grey-2);
}

.radio__input:disabled ~ .radio__state .radio__title {
    color: var(--grey-2)
}

.radio__input:disabled ~ .radio__state {
    cursor: not-allowed;
}