@import '../assets/fonts/fonts.css';
@import '../components/grid-footer/grid-footer.css';
@import '../components/grid-header/grid-header.css';
@import '../components/grid-page/grid-page.css';
@import '../components/grid-main/grid-main.css';
@import '../components/grid-sidebar/grid-sidebar.css';
@import '../components/containers/container/container.css';

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}


