.histogram {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 16px 24px 24px;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--grey-3);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: var(--black);

}

.histogram__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 24px;
}

.histogram__title {
    opacity: 0.8;
}

.histogram__link {
    text-decoration: none;
    color: var(--button-primary);
}

.histogram__counter {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 39px;
}

.histogram__body {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1px;
}

.histogram__item {
    background-color: var(--button-primary);
    flex: 1;
}